

#div1 
{
width:100%;
float:left;
clear:none;
}

#div2 
{
float:left;
clear:none;
}

#div3 
{
float:left;
clear:none;
width:50%;
margin-left:20px;
}

#div4 
{
text-align:right;
margin-top:10px;
}

